body
{
    width:auto;
    height:auto;
    margin:0;
    background-color:black;
}
#main
{
    width:1024px;
    margin:0 auto;
    
    height:auto;
    
}
span
{
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    color:#ffffff;
}
p
{
    font-family:helvetica;
    font-size:15px;
    color:#ffffff;
}
h2
{
    margin:0; 
    padding:1px;
    font-family:Arial;
    font-size:24px;
    color:#fefefe;
}
h3
{
    margin:0; 
    padding:1px;
    font-family:helvetica;
    font-size:15px;
    color:#073b2f;
}
h4
{
    margin:0; 
    padding:1px;
    font-family:helvetica;
    font-size:15px;
    color:#0d2945;
}
h5
{
    margin:0; 
    padding:1px;
    font-family:helvetica;
    font-size:15px;
    color:#3e6d7b;
}
h6
{
    margin:0; 
    padding:1px;
    font-family:helvetica;
    font-size:15px;
    color:#06203e; 
}
img 
{
    border: 0;
}
.clear 
{
    clear: both;
    
}
/*----header css---*/
#headerCont
{
    width:1024px;
    height:188px;
    padding:0;
    margin:0;
}
#logo
{
    width:1024px;
    height:148px;
    clear:both;
    background-image:url(../../img/header.gif);
    border-bottom:3px solid #8d8d8d; 
}
#headerNav
{
    width:1024px;
    height:30px;
    text-align:center;
    padding:0;
    margin:0;
    background-color:#181818;
    border-bottom:3px solid #514a4a;
    padding:3px 0 0 0;
    background:url(../../img/bg.jpg);
}
#headerNav ul{	
	display:inline;
	margin:0 0 0 -10px;
	
	
}
#headerNav li{
	display:inline;
}
#headerNav a {
    text-decoration:none;
    display:inline;
    color:#8bd2d5;
    font-family:Arial;
    font-size:24px;
}
#headerNav a:hover {
    color:#0aedf5;
    text-decoration:none;	
}
#headerNav a.navSelected
{
    color:#C1E7C0;
}
span.nav{
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    vertical-align: top;
    color:#0aedf5;
    padding-right:4px;
}
span.nav_end
{
    padding-right:0px !important;
    padding-left:4px;
}


/*--main css--*/
#background
{
    padding:5px 0 15px 0;
    width:1024px;
    margin:0;
    background-image:url(../../img/body.gif);
    min-height:600px;
    height:auto !important;
    overflow:auto;
   
}



/*--footer css--*/
#footerCont
{
    width:1024px;
    min-height:100px;
    background-color:#181818;
    border-top:3px solid #8d8d8d;
    margin:0 auto;
    background:url(../../img/bg.jpg);
}
#footerNav
{
    width:1024px;
    height:30px;
    text-align:center;
    padding:0;
    margin:0;
    padding:3px 0 0 0;
}
#footerNav ul{	
	display:inline;
	margin:0 0 0 -5px;
}
#footerNav li{
	display:inline;
}
#footerNav a {
    text-decoration:none;
    display:inline;
    color:#b6b5b5;
    font-family:Arial;
    font-size:18px;
}
#footerNav a:hover {
color:#e5e5e5;
text-decoration:none;	
}
#footerNav a.navSelected
{
    color:#ffffff;
}
span.bot_nav{
    display: inline-block;
    font-size: 17px;
    margin-top: 0px;
    vertical-align: top;
    color:#e5e5e5;
    padding-right:3px;
}
span.bot_nav_end
{
    padding-right:0px !important;
    padding-left:3px;
}
#cpr
{
    padding:25px 0 0 0;
    font-family:Arial;
    font-size:12px;
    color:#828282;
    text-align:center;
}

/*-------home content--------*/

#divBanner
{
    margin:0 0 0 20px;
    width:1000px;
    height:260px;
    background: url(../../img/bannerBGnew.gif) no-repeat scroll 0 0 transparent;
}
#divShow
{
    margin:3px 0 0 -17px;
    width:auto;
    height:250px;
}

#news
{
    margin-right:25px;
    padding:15px 15px 0 15px;
    float:right;
    width:410px;
    min-height:300px;
    height:auto !important;
    background-image:url(../../img/newsbg.jpg);
    border:2px dashed #8d8d8d;
    
}
#news div:first-child
{   
    border-top:none;
    padding-top:-4px !important;
}
#newContent
{   
    padding-top: 5px;
    margin-bottom: -11px;
    width:auto;
    height:auto;
    float:left;
    border-top:2px dashed #8d8d8d;

}
#testmonial
{
    float:left;
    width:510px;
    height:auto;
    background: url(../../img/postBG.png);
    border:1px dsahed red;
    margin-left:25px;
}
#Postings
{
    border-top:1px dashed gray;
}
#Postings div:first-child
{
    border-top:none;
}
.eachPost
{
   
    border-top:1px dashed #ffffff;
    margin: -5px 15px 0px 15px;
    padding-top: 9px;
}
#postBox
{
    margin:2px 0 2px 170px;
}
#input
{
    display:none;
}
#itb
{
    margin:0 0 2px 15px;
}
#pbt
{
    margin:0 0 2px 107px;
    overflow:auto;
}
input#content_btnPost
{
    display:inline-block;
    float:left;
}
#showCommentInput
{
    width: 123px;
    height: 18px;
    margin-left: 17px;
}
#hideCommentInput
{
    width:64px;
    height:18px;
    float:right;
    margin-right:35px;
}
#showCommentInput:hover
{
    cursor:pointer;
}
#hideCommentInput:hover
{   
    cursor:pointer;
}
.grayBttn
{
    color: #ffffff;
    background-color: #4F4745;
    border-style: None;
    font-family: arial;
    font-size: 12px;
    padding: 2px 6px 0px 6px; 
}
input#content_tbxAuthor
{
    width:362px !important;
}
textarea#content_tbxPost
{
    width:360px !important;
}
#content_vsHome
{
    float: left;
    clear: both;
    margin-left: -29px;
}
#content_vsHome ul
{
    list-style-type: none !important;
}
/*-------portfolio--------*/
#portfolio
{
    width:990px;
    margin:0px 15px 0px 15px;
}
#portfolio div:first-child
{
    border-top:none;
}
.eachPort
{
    padding-top: 20px;
    width:1000px;
    height:auto; 
    overflow:auto;
    border-top:2px dashed #8d8d8d;
    clear:both;
   
}
.eachPort h2 
{
    float: left;
    width: 320px;
}
.eachPort h4 
{
    clear: left;
    float: left;
    padding:5px 10px 5px 10px;
    width: 290px;
    margin-right:20px;
    margin-top:10px;
    background-image:url(../../img/newsbg.jpg);
}
.eachPort img 
{
    position:relative;
    z-index:4;
    margin:0;
    width: 651px;
    height:auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
      
    
} 
.eachPort img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      -moz-opacity: 0.4;
      -khtml-opacity: 0.4;
      opacity: 0.4;
}
.eachImage
{
    position:relative;
}

span.portfolio_overlay
{
    position: absolute;
    display: block;
    height: 98.3%;
    top: 3px;
    width: 651px;
    right: 16px;
    background-color: #000;
    z-index: 0;
    text-align:center;
    
}
span.portfolio_overlay_text
{  
    font-family:'Comfortaa', cursive;
    font-size:36px;
    margin-top: 23%;
    display: inline-block;
    vertical-align: top;
}
/*-------contact--------*/
#contactForm
{
    width:450px;
    height:auto;
    background-image:url(../../img/contactBG.png);
    border:2px dashed #8d8d8d;
    padding:20px 0 20px 10px;
    margin:0 auto;
    margin-top:10px;
}
#divVS
{
    margin:0 0 0 4em;
}
#outPut
{
    margin:1em 0 0 2em;
}
input#content_tbxEmail, input#content_tbxName
{
    width:276px !important;
}
input#content_btnContact
{
    margin-right:-4px;
}
#content_vs ul
{
    list-style-type: none !important;
}
textarea#content_tbxMessage
{
    width:274px !important;
}
/*--aboutPage css--*/
#about
{
    width:1024px;
    height:auto;
    overflow:auto;
    clear:both;
    
}
#aboutleft
{
 
    margin:10px 20px 10px 20px;
    width:980px;
    height:auto;
    overflow:auto;
    float:left;
    background: url(../../img/bannerBGnew.gif);
   
}
#aboutCont
{
    margin:10px 10px 10px 20px;
    width:930px;
    height:auto;
    overflow:auto;
    border:1px dashed gray;
    
}
#intro
{
    margin:10px 10px 20px 10px;
    border-bottom:1px dashed white;

    padding:0 10px 20px 10px;
}
#skill
{
    margin:20px 10px 20px 10px;
    border-bottom:1px dashed white;
    padding-bottom:20px;
    padding-left:10px;
}
#exp
{
    margin:20px 10px 10px 10px;
    border-bottom:1px dashed white;
    padding-bottom:10px;
    padding-left:10px;
}
#edu
{
    margin:20px 10px 10px 10px;
    padding-top:10px;
    border-bottom:1px dashed white;
    padding-left:10px;
}
#reference
{
    margin: 5px auto;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*---------------------------CMS section---------------------------------*/
#login
{
    float:right;
    margin:25px 15px 5px 0;
}
.message
{
    text-align:center;
    background:#0d2945;
    margin-left:250px;
    margin-right:250px;
}
.wraper
{
    vertical-align: middle;
    text-align:center;
    text-align: -moz-center;
    text-align: -khtml-center;
}
.wraper
{
    vertical-align: middle;
    text-align:center;
    text-align: -moz-center;
    text-align: -khtml-center;
}
/*-------Slide Show-------*/
#slideShow{
	margin-left:23px;
}
/*This is from Kenny PC*/   